version: "3.8"
services:
  db_logistica:
    image: mysql:5.7
    restart: unless-stopped
    env_file: ./.env
    environment:
      - MYSQL_ROOT_PASSWORD=$MYSQLDB_ROOT_PASSWORD
      - MYSQL_DATABASE=$MYSQLDB_DATABASE
    ports:
      - $MYSQLDB_LOCAL_PORT:$MYSQLDB_DOCKER_PORT
    volumes:
      - db:/var/lib/mysql
  app:
    depends_on:
      - db_logistica
    build: ./ProyectoLogistica
    restart: on-failure
    env_file: ./.env
    ports:
      - $SPRING_LOCAL_PORT:$SPRING_DOCKER_PORT
    environment:
      DB_URL: jdbc:mysql://db_logistica:$MYSQLDB_DOCKER_PORT/$MYSQLDB_DATABASE?useSSL=false
      spring.datasource.username: $MYSQLDB_USER
      spring.datasource.password: $MYSQLDB_ROOT_PASSWORD
      spring.jpa.properties.hibernate.dialect: org.hibernate.dialect.MySQL5InnoDBDialect
      spring.jpa.hibernate.ddl-auto: update
    volumes:
      - .m2:/root/.m2
    stdin_open: true
    tty: true
volumes:
  db: