<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Spring Boot</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/listarTipoProd}">TipoProducto</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<h1 th:text="${titulo}"
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h1>

		<div th:object="${tipoProd}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
		<form th:action="@{/formTipoProd}" th:object="${tipoProd}" method="post">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">CodigoDeBarras</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{codigoDeBarras}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('codigoDeBarras')}" th:errors="*{codigoDeBarras}"></small>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">nombre</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{nombre}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">CodigoDeBarras</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{codigoDeBarras}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('codigoDeBarras')}" th:errors="*{codigoDeBarras}"></small>
				</div>
			</div>
			
			
			
			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" value="Crear TipoProducto" class="btn btn-primary" />
				</div>
			</div>

		</form>
	</div>
</body>
</html>