<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <title>Registro</title>
</head>

<body>
    <div class="container-fluid">

        <div class="row align-items-center h-100">
            <div class="col">
            </div>
            <div class="col-10 col-md-5">
                <h1 class="text-center text-light pb-5">iLOG -Sistema Logistico - UTEC</h1>

                <div class="card">
                    <form th:action="@{/registro}" th:method="POST" th:object="${usuario}">
                        <div class="card-header bg-white">
                            <h1>Registrarse:</h1>
                        </div>
                        <div class="card-body">
                            <div class="form-group"> <label for="email" class="col-10 col-form-label"><b>Email:
                                    </b></label>
                                <input class="col-8"  type="text" placeholder="Email" name="email" id="email"
                                    th:field="*{email}" required></div>
                            <div class="form-group">
                                <label for="nombre" class="col-10 col-form-label"><b>Nombre:</b></label>
                                <input class="col-8"  type="text" placeholder="Nombre" name="nombre"
                                    id="nombre" th:field="*{nombre}" required>
                            </div>
                            <div class="form-group">
                                <label for="nombre" class="col-10 col-form-label"><b>Apellido:</b></label>
                                <input class="col-8"  type="text" placeholder="Apellido" name="Apellido"
                                    id="Apellido" th:field="*{apellido}" required>
                            </div>
                            <div class="form-group">
                                <label for="psw" class="col-10 col-form-label"><b>Password:</b></label>
                                <input class="col-8"  type="password" placeholder="Password" name="password"
                                    id="password" th:field="*{password}" required>
                            </div>


                            <div class="form-group">
                                <label for="psw-repeat" class="col-10 col-form-label"><b>Repite tu
                                        Password:</b></label>
                                <input class="col-8"  type="password" placeholder="Repite tu Password" name="psw-repeat"
                                    id="psw-repeat" required>
                            </div>



                            <hr>



                            <p>Al crear tu cuenta estas aceptando nuestros <a href="#">Terminos y condiciones</a>.
                            </p>
                            <button type="submit" class="btn btn-primary">Aceptar</button>

                            <div>
                                <p>¿Ya tienes una cuenta?<a href="/login">Ingresa Aqui</a>.</p>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
            <div class="col">
            </div>
        </div>


    </div>


</body>

</html>